//== GRID
$gw-count: 12;                   // Column Count
$gw-column-desktop: 65px;        // Desktop Column Width
$gw-gutter-desktop: 20px;        // Desktop Gutter Width
$gw-column-tablet: 40px;         // Tablet Column Width
$gw-gutter-tablet: 20px;         // Tablet Gutter Width


//== FONTS
$font_default: Tahoma, Verdana, Segoe, sans-serif;

$font_robo-con_normal: 'Roboto Condensed Normal', sans-serif;
$font_robo-con_light: 'Roboto Condensed Light', sans-serif;
$font_robo-con_bold: 'Roboto Condensed Bold', sans-serif;

$font_museo300: $font_robo-con_normal;
$font_museo500: $font_robo-con_normal;
$font_museo700: $font_robo-con_normal;


//== TEXT
$line-height-default: 20px;
$text-size-default: 12px;



//== COLORS
$peacock-blue: #006699;
$cerulean: #008bc0;
$light-grey: #f6f4ef;
$brownish-grey: #6c6c6c;
$brownish-grey-two: #666666;
$light-teal: #8dcde6;
$light-teal-two: #9cd3e9;

$color-text: #333;
$color-text-main-blue: #00698C;    // From stylebook.
$color-text-main-black: #222;      // From stylebook.
$color-text-extra-red: #BD4932;    // From stylebook.
$color-text-extra-golden: #FFCC00; // From stylebook (use only on dark background).
$color-link: #BD4832;
$color-link-hover: #00688C;
$color-link-visited: #A300D8;


//== OTHER
$tablet-top-desktop-ratio: 0.7; // @todo: remove this variable?

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Small screen / tablet
$screen-sm-min:                  768px;

// Medium screen / desktop
$screen-md-min:                  1024px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:                  ($screen-sm-min - 1);
$screen-sm-max:                  ($screen-md-min - 1);

// Usage: @media #{$tablet} { ... } and @media #{$desktop} { ... }
$tablet: 'screen and (min-device-width: #{$screen-sm-min}) and (max-device-width: #{$screen-md-min - 1})';
$desktop: 'screen and (min-device-width: #{$screen-sm-min})'
