


@if $layout == global {
  // Should be .service but too complicated at this stage to merge DS config.
  .node-service.view-mode-teaser {
  //  @include flex();
    background: white;
    margin: 0 0 15px 0;
    padding: 15px 15px;

    .group-left,
    .group-right {
      float: none;
      width: auto;
    }

    p,
    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .service__title {
    color: #00668C;
    font-size: 14px;
    margin-bottom: 14px;
  }

  .service__extra-content {
    border-top: 1px solid rgba(128, 128, 128, 0.31);;
    font-size: 12px;
    margin-top: 15px;
    padding-top: 15px;
  }

  p.service__extra-content-contact-label {
    margin-bottom: 0;
  }

  // Not nice to add modifer to static-infobox01 but shortcut to get things done for now :(
  .node .service__extra-content .static-infobox01 {
    h4,
    a {
      font-size: 12px;
    }

    ul li {
      padding: 1px 0 3px 50px !important;

      &:before {
        left: 0 !important;
      }
    }
  }

  .node .field-name-body ul li {
    background-position: 0 3px;
    padding-left: 20px;
  }
}



@if $layout == default {
  .node-service.view-mode-teaser {
    @include flex();
    background: white;
    padding: 20px 17px;

    .group-left,
    .group-right {
      @include flex-basis(auto);
      @include flex-shrink(0);
      float: none;
    }

    .group-left {
      width: 72%;
    }

    .group-right {
      position: relative;
      width: 28%;

      &:before {
        background: url(../img/10-global/view-id-top_news_tabs--separator.png);
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        width: 25px;
      }

      &:after {
        background: url(../img/10-global/view-id-top_news_tabs--separator-overlay-bottom.png) no-repeat 0 100%;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        width: 25px;
        z-index: 2;
      }
    }
  }

  .service__picture {
    float: left;
    margin-right: 25px;

    .image {
      @include image-class-reset();
    }
  }

  .service__main-content {
    overflow: hidden;
    padding-right: 30px;
  }

  .service__extra-content {
    border-top: 0;
    margin-top: 0;
    padding-left: 30px;
    padding-top: 0;
  }
}



@if $layout == tablet {

}



@if $layout == desktop {
  .node-service.view-mode-teaser {
    padding-left: 25px;
    padding-right: 25px;
  }
}

