


@if $layout == global {
  .page-calendar {
    .block-delta-blocks {
      margin: 0;

      #tabs {
        float: right;

        a {
          padding: 5px 10px;

          &.active {
            background: #f6f6f6;
          }
        }
      }
    }
  }

  .view-id-vp_calendar_default {
    clear: both;
    overflow: hidden;
    padding-top: 5px;
    width: 100%;

    // Pager.
    .date-nav-wrapper {
      @extend %date-nav-wrapper;

      .date-prev {
        right: auto;
      }

      .date-prev,
      .date-next {
        a {
          color: $color-text-main-blue;
          margin-right: 0;
        }
      }
    }

    .view-filters {
      margin-bottom: 30px;

      .views-exposed-widget {
        margin-right: 10px;
      }

      label {
        margin-right: 10px;
      }

      label,
      .views-widget{
        display: inline-block;
        vertical-align: middle;
      }

      .form-text,
      select {
        height: 26px;
        padding-bottom: 0;
        padding-top: 0;
      }

      .container-inline-date .description {
        position: absolute;
      }
    }

    .view-content {
      border: 1px solid #edebe7;
      margin-top: 11px;
      padding: 32px 40px 18px 40px;
    }

    .views-row {
      border-bottom: 1px solid #BBB;
      margin-bottom: 20px;
      min-height: 50px;
      padding-bottom: 20px;

      &.views-row-last {
        border-bottom: 0;
        margin-bottom: 20px;
      }
    }

    .views-field-field-event-ct-date {
      font-weight: bold;
    }

    .views-field-title h2 {
      font-family: inherit;
      font-size: 13px;
      font-weight: bold;
      overflow: hidden;
    }

    .views-field-body {

      img {
        display: none;
      }
    }

    .more-link {
      margin-left: 7px;
      white-space: nowrap;
    }
  }

  .ui-datepicker-calendar {
    .activeweek {
      background-color: $color-text-main-blue;
      color: white;
    }

    tbody tr:hover {
      background-color: #BD4732;
      color: white;
    }
  }
}



@if $layout == default {
  .page-calendar {
    .block-delta-blocks {
      #tabs {
        float: none;
        position: absolute;
        right: 35px;
        top: 87px;
      }
    }
  }

  .view-id-vp_calendar_default {
    padding-top: 20px;

    .views-row {
      .col-left {
        position: absolute;
      }

      .views-field-title,
      .views-field-body {
        float: right;
      }
    }
  }
}



@if $layout == tablet {
  .view-id-vp_calendar_default {
    .views-row {
      .col-left {
        width: 128px;
      }

      .views-field-title,
      .views-field-body {
        width: 400px;
      }
    }
  }
}



@if $layout == desktop {
  .view-id-vp_calendar_default {
    .views-row {
      .col-left {
        width: 148px;
      }

      .views-field-title,
      .views-field-body {
        width: 680px;
      }
    }
  }
}