//
// Template 27: "notice this" block with optional contacts section.
//
// @todo: contacts section is not done yet.
//



@if $layout == editor or
    $layout == global {
  .static-template-27 {
    @include border-box();
    background: #f7f6f1;

    ul,
    ol,
    p:last-child {
      margin-bottom: 0;
    }
  }

  .static-template-27__left-group {
    background: url(../img/10-global/template-27__exclamation-mark.png) no-repeat 10px 50%;
    font-weight: bold;
    padding-left: 70px;
  }
}

@if $layout == global {
  .static-template-27 {
    @extend %full-width-global;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 20px;
  }
}



@if $layout == editor or
    $layout == default {
    .static-template-27 {
    @extend %full-width-default;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 40px 35px;
    position: relative;
  }

  // Top and bottom shadows.
  .static-template-27__left-group:before,
  .static-template-27__left-group:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 15px;
  }
  .static-template-27__left-group:before {
    background: url(../img/40-desktop/static-template-custom1__shadow-top.png);
    top: -15px;
  }
  .static-template-27__left-group:after {
    background: url(../img/40-desktop/static-template-custom1__shadow-bottom.png);
    bottom: -15px;
  }
}
