//
// Template Custom Download link with icon.
//
// This template is not documented anywhere. It was created out of need for
// Civil Aviation Administration but could be used anywhere in the VAP.
// It's a link element that has big download icon on the left.
//


@if $layout == editor or
    $layout == global {
  .template-custom-download-link-with-icon {
    background: url(../img/10-global/static-read-more-icon-download-white.png) no-repeat;
    display: inline-block;
    line-height: 15px;
    padding: 5px 0 5px 50px;

    &:after {
      content: "»";
      margin-left: 2px;
    }
  }
}
