//
// Template Custom - Title with icon
//

.template-custom-title-with-icon {
  background-repeat: no-repeat;
  line-height: 19px;
  min-height: 54px;
  padding-left: 100px;
  padding-top: 19px;
}

.template-custom-title-with-icon_no-gun {
  background-image: url(../img/10-global/template-custom-title-with-icon_no-gun.png);
}

.template-custom-title-with-icon_no-bomb {
  background-image: url(../img/10-global/template-custom-title-with-icon_no-bomb.png);
}

.template-custom-title-with-icon_no-knife {
  background-image: url(../img/10-global/template-custom-title-with-icon_no-knife.png);
}

.template-custom-title-with-icon_no-tools {
  background-image: url(../img/10-global/template-custom-title-with-icon_no-tools.png);
}

.template-custom-title-with-icon_no-daze {
  background-image: url(../img/10-global/template-custom-title-with-icon_no-daze.png);
}

.template-custom-title-with-icon_no-blunt-instrument {
  background-image: url(../img/10-global/template-custom-title-with-icon_no-blunt-instrument.png);
}
