


@if $layout == global {
  .simple_elasticsearch_search_page_app {
    input[type="text"],
    input[type="submit"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 36px;
      line-height: 20px;
      padding-bottom: 5px;
      padding-top: 5px;
    }

    input[type="text"] {
      -moz-border-top-right-radius:: 0;
      -webkit-border-top-right-radius: 0;
      border-top-right-radius: 0;
      -moz-border-bottom-right-radius:: 0;
      -webkit-border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      width: 300px;

    }

    input[type="submit"] {
      -moz-border-top-left-radius:: 0;
      -webkit-border-top-left-radius: 0;
      border-top-left-radius: 0;
      -moz-border-bottom-left-radius:: 0;
      -webkit-border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    a {
      color: #00698C;
      text-shadow: none;
    }

    .stats {
      color: #686868;
      margin-top: 5px;
    }

    .sk-results-list__action-bar {
      margin-bottom: 30px;
    }

    .result {
      background: url(../img/20-default/news-page-separator.png) repeat-x 0 100%;
      margin: 0 0 24px 0;
      padding: 0 0 24px 0;
    }

    .title {
      font-weight: normal;
      font-size: 15px;
      line-height: 16px;
      padding-bottom: 3px;
      margin: 0;
    }

    .sk-pagination-navigation {
      border-radius: 3px;
      border: 1px solid #dfdfdf;
      box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.15);
      margin: 15px 0;
      padding: 2px 5px;
      .sk-toggle {
        text-align: center;
      }
    }

    .sk-toggle__item {
      border-width: 1px;
      border-bottom-color: #979797;
      border-left-color: #c4c6c3;
      border-radius: 3px;
      border-right-color: #979797;
      border-style: solid;
      border-top-color: #c4c6c3;
      box-shadow: inset -1px -1px 2px 0 rgba(0,0,0,0.2);
      display: inline-block;
      margin: 3px 2px;
      padding: 2px 4px 1px 4px;
      min-width: 16px;
      .sk-toggle-option__text {
        color: #00698C;
        display: block;
      }
    }

    .sk-toggle__item[data-key="next"],
    .sk-toggle__item[data-key="previous"] {
      background-image: url(../img/10-global/pager-arrows.png);
      background-repeat: no-repeat;
      background-position: 0 -26px;
      float: right;
      .sk-toggle-option__text {
        direction: ltr;
        overflow: hidden;
        text-indent: -10000px;
        display: inline-flex;
      }
    }

    .sk-toggle__item[data-key="previous"] {
      background-position: -29px 0;
      float: left;
    }

    .sk-toggle__item.is-active {
      border-color: transparent;
      background-color: #BD4932;
      font-weight: bold;
      .sk-toggle-option__text {
        color: #fff;
      }
    }
  }
}
