


@if $layout == global {
  .simple_elasticsearch_search_page_app {
    input[type="text"],
    input[type="submit"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 36px;
      line-height: 20px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    //
    input[type="text"] {
    //  -moz-border-top-right-radius:: 0;
    //  -webkit-border-top-right-radius: 0;
    //  border-top-right-radius: 0;
    //  -moz-border-bottom-right-radius:: 0;
    //  -webkit-border-bottom-right-radius: 0;
    //  border-top-right-radius: 0;
      width: 300px;
    //
    }
    //
    //input[type="submit"] {
    //  -moz-border-top-left-radius:: 0;
    //  -webkit-border-top-left-radius: 0;
    //  border-top-left-radius: 0;
    //  -moz-border-bottom-left-radius:: 0;
    //  -webkit-border-bottom-left-radius: 0;
    //  border-top-left-radius: 0;
    //}


    .stats {
      color: #686868;
      margin-top: 5px;
    }

    .sk-results-list__action-bar {
      margin-bottom: 30px;
    }
  }

  .view-mode-simple_elasticsearch_teaser.node-ct-event {
    .field {
      margin-top: 5px;
    }

    .field-name-field-event-ct-date {
      font-family: $font_museo300;
      font-size: 15px;
      margin: 0;
      font-weight: bold;
    }

    .field-name-field-event-ct-location {
      background-image: url(../img/10-global/icon-location.png);
      background-repeat: no-repeat;
      background-size: 12px 12px;
      padding-left: 14px;
      background-position: 0 3px;
    }
  }
}
