
@if $layout == global {
  .vap-alternative-frontpage__top-sidebar {
    position: relative; // Helps to create the news block that fades away.
    //height: 400px;
    //overflow: hidden;
  }

  .pane-views-alternative-frontpage-news {
    $pane-views-alternative-frontpage-news-footer-height: 40px;

    .pane-title {
      background: $cerulean;
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 11px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      display: block!important;
    }

    .field-name-post-date {
      color: $brownish-grey;
      font-size: 11px;
      padding-bottom: 2px;
    }

    .field-name-title {
      font-family: inherit;
      font-size: inherit;
      line-height: 1.46;
      margin-bottom: 5px;

      a {
        color: $peacock-blue;
        display: block;

        &:hover,
        &:focus {
          color: $color-link;
        }
      }
    }

    .field-name-body {
      color: $brownish-grey-two;
      font-size: 11px;
      line-height: 1.45;
      padding-bottom: 7px;
    }

    .view-content {
      padding: 18px 20px 0 20px;
    }

    .all-news {
      display: none;
    }

    .node-news {
      background: url(../img/10-global/alternative-frontpage-news-divider.png) 0 100% repeat-x;
      margin-bottom: 10px;
      padding-bottom: 7px;
    }

    &:before {
      background-image: linear-gradient(to bottom, rgba(246, 244, 239, 0.0), $light-grey);
      bottom: $pane-views-alternative-frontpage-news-footer-height;
      content: "";
      height: 40px;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 1;
    }

    .view-footer {
      background: $light-grey url(../img/10-global/front-content-block-tabs.png) 50% 0 no-repeat;
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;

      a {
        color: #000;
        display: block;
        font-family: $font_museo300;
        font-size: 12px;
        line-height: $pane-views-alternative-frontpage-news-footer-height / 2;
        padding: ($pane-views-alternative-frontpage-news-footer-height / 4) 18px;
        text-transform: uppercase;

        &:hover,
        &:focus {
          color: $color-link;
        }
      }
    }
  }
}



@if $layout == default {
  .pane-views-alternative-frontpage-news {
    $pane-views-alternative-frontpage-news-footer-height: 40px;

    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    .pane-title {
      display: none!important;
    }
  }
}



@if $layout == desktop {
  .vap-alternative-frontpage__top-sidebar {
    height: auto;
    overflow: visible;
  }
}
