

@if $layout == global or
    $layout == editor {
  .vap-alternative-frontpage__static-important-topics {
    @include clearfix();

    img {
      margin-bottom: 20px;
    }

    ul {
      float: left;
      margin-bottom: 30px;
      margin-left: 20px;
      padding-right: 20px;
      width: 278px;
    }

    li {
      background-image: url(../img/10-global/link-arrow-on-light-bg3.png);
      background-repeat: no-repeat;
      background-size: 8px 12px;
      padding-left: 18px;
      margin: 3px 0 3px 0;
      background-position: 0 4px;
    }

    a {
      color: $peacock-blue;

      &:hover,
      &:focus {
        color: $color-link;
      }
    }
  }
}
