@if $layout == global or $layout == editor {

  .vap-alternative-frontpage__static-footer {}

  .vap-alternative-frontpage__static-footer-first {
    background: white;
    margin-bottom: 30px;

    h2 {
      padding: 20px;
      margin: 0;
      width: 100%;
      font-size: 170%;
    }

    .vap-alternative-frontpage__static-footer-video {
      padding: 0 20px 20px 20px;

      .video-container {
        width: 100%;
        position: relative;
        height: 0;
        padding-top: 52.0833%;
        background: black;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .vap-alternative-frontpage__static-footer-small-links {
      padding: 20px 40px;
      text-align: center;

      li {
        display: inline-block;
        vertical-align: top;
        width: 120px;
        margin-bottom: 10px;
        text-align: left;
      }

      a {
        background-position: 0 50%;
        background-repeat: no-repeat;
        color: $peacock-blue;
        display: inline-block;
        line-height: 24px;
        padding-left: 34px;

        &:hover,
        &:focus {
          color: $color-link;
        }
      }

      .vap-alternative-frontpage__static-social-small-links-fb {
        background-image: url(../img/10-global/alternative-frontpage-icon-facebook.svg);
      }
      .vap-alternative-frontpage__static-social-small-links-twitter {
        background-image: url(../img/10-global/alternative-frontpage-icon-twitter.svg);
        background-position: 4px 50%;
      }
      .vap-alternative-frontpage__static-social-small-links-rss {
        background-image: url(../img/10-global/alternative-frontpage-icon-feed.svg);
      }
      .vap-alternative-frontpage__static-social-small-links-blog {
        background-image: url(../img/10-global/alternative-frontpage-icon-blog.svg);
      }
      .vap-alternative-frontpage__static-social-small-links-youtube {
        background-image: url(../img/10-global/alternative-frontpage-icon-youtube.svg);
        background-size: 24px;
      }
      .vap-alternative-frontpage__static-social-small-links-vimeo {
        background-image: url(../img/10-global/alternative-frontpage-icon-vimeo.svg);
        background-size: 32px;
        background-position: -10% 100% !important;
      }

    }
  }

  .vap-alternative-frontpage__static-footer-second {
    background: white;

    .vap-alternative-frontpage__static-footer-large-links {
      padding: 20px;
      text-align: center;

      li:first-child {
        background: none;
        padding-left: 0;
      }

      li {
        margin-bottom: 16px;
        background-image: url(../img/10-global/link-arrow-on-light-bg3.png);
        background-repeat: no-repeat;
        background-size: 8px 12px;
        padding-left: 18px;
        background-position: 0 4px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        display: block;
      }

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@if $layout == desktop or $layout == editor {

  .vap-alternative-frontpage__static-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .vap-alternative-frontpage__static-footer-first {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 635px;
    margin: 0;

    .vap-alternative-frontpage__static-footer-video {
      padding: 0 0 20px 20px;
      width: 288px;
    }

    .vap-alternative-frontpage__static-footer-small-links {
      padding: 8px 0 0 20px;
      width: 288px;
    }
  }

  .vap-alternative-frontpage__static-footer-second {
    width: 308px;

    .vap-alternative-frontpage__static-footer-large-links {

      li:first-child {
        background: none;
        padding-left: 0;
      }

      li {
        margin-bottom: 16px;
        background-image: url(../img/10-global/link-arrow-on-light-bg3.png);
        background-repeat: no-repeat;
        background-size: 8px 12px;
        padding-left: 18px;
        background-position: 0 4px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
