

@if $layout == global or $layout == editor {

  .vap-alternative-frontpage__static-important-topics {
    @include clearfix();

    ul:first-of-type {
      margin-top: 15px;
    }

    ul:last-of-type {
      margin-bottom: 15px;
    }

    li {
      background-image: url(../img/10-global/link-arrow-on-light-bg3.png);
      background-repeat: no-repeat;
      background-size: 8px 12px;
      background-position: 20px 9px;
      padding: 5px 20px 5px 38px;
    }

    a {
      color: $peacock-blue;

      &:hover,
      &:focus {
        color: $color-link;
      }
    }
  }
}




@if $layout == default or $layout == editor {

  .vap-alternative-frontpage__static-important-topics {
    @include clearfix();

    img {
      float: left;
      width: 320px;
    }

    ul {
      float: right;
      clear: right;
      width: 320px;
    }

    li {
      padding-left: 18px;
      background-position: 0 9px;
    }
  }
}

@if $layout == desktop or $layout == editor {

  .vap-alternative-frontpage__static-important-topics {

    img, ul {
      width: 308px;
    }
  }

}
