

@if $layout == global {
  .page-alternative-frontpage {
    font-size: 13px;

    // Hide blocks that are shown if this layout is not yet set as frontpage.
    .block-breadcrumb,
    .block-page-title,
    .block-addthis-custom {
      display: none;
    }

    .zone-top {
      //margin-bottom: 0 !important;
      padding-top: 0 !important;
      //padding-bottom: 0 !important;
    }
  }

  .vap-alternative-frontpage {
    .panel-pane {
      background: $light-grey;
    }

    // All pane titles on front page have same style.
    .pane-title {
      background: $cerulean;
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 11px;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    .pane-content {

    }
  }

  // Layout begin
  .vap-alternative-frontpage {
    margin: -5px -15px 0 -15px;

    // If this is visible then it breaks flexbox as it's extra div.
    .panel-separator {
      display: none;
    }
  }

  .vap-alternative-frontpage__top {
    @include flex();
    justify-content: space-between;
    min-height: 400px;

    > div {
      @include flex-grow(0);
      @include flex-shrink(0);
    }
  }

  .vap-alternative-frontpage__top-sidebar {
    margin-left: 20px;
    width: 304px;
  }

  .vap-alternative-frontpage__top-main-top,
  .vap-alternative-frontpage__top-main-bottom {
    width: 636px;
  }

  .vap-alternative-frontpage__top-main-top {
    margin-bottom: 20px;
  }

  .vap-alternative-frontpage__top-main-bottom {
    @include flex();
    justify-content: space-between;

    > div {
      @include flex-grow(0);
      @include flex-shrink(0);
      width: 308px;
    }
  }
  // Layout end
}
