//
// Template 5: 3 columns with background.
//

$static_module_3_2_desktop_col_width: 297px;
$static_module_3_2_col_padding_left: 30px;
$static_module_3_2_col_padding_right: 30px;



@if $layout == editor or
    $layout == global {
  .static-template-5 {
    @extend %clearfix;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    z-index: 1;

    h2 {
      @include fontSize(20px);
    }

    h3 {
      @include fontSize(16px);
      margin-bottom: 2px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    // Real columns
    .col {
      background-color: #f8f8f8;
      border-radius: 3px;
      margin-bottom: 20px;
      padding-bottom: 20px;
      padding-left: $static_module_3_2_col_padding_left;
      padding-right: $static_module_3_2_col_padding_right;
      padding-top: 20px;

      &.col-1 {
        margin-top: 20px;
      }
    }

    .image {
      @include image-class-reset;
      display: block;
      border-radius: 5px;
      border: 5px solid #fff;
      box-shadow: 0px -3px 5px 0 rgba(0, 0, 0, 0.1);
      max-width: none;
      margin: 15px -5px;

      img {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        max-width: 100%;
      }
    }
  }
}



@if $layout == editor {
  .static-template-5 {
    .editor & {
      width: 930px;
    }

    img {
      margin: 15px 0;
      border-radius: 5px;
      border: 5px solid #fff;
      box-shadow: 0px -3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}



@if $layout == editor or
    $layout == desktop {
  .static-template-5 {
    // BEGIN: Make columns look equal height.
      padding-bottom: 20px;
      padding-top: 20px;

      .col:before {
        background-color: #f8f8f8;
        border-radius: 3px;
        bottom: 20px;
        content: "";
        position: absolute;
        top: 20px;
        width: $static_module_3_2_desktop_col_width;
        z-index: -1;
      }

      .col-1:before {
        left: 0;
      }

      .col-2:before {
        left: $static_module_3_2_desktop_col_width + 20;
        width: $static_module_3_2_desktop_col_width - 1; // For equal 20px solumn spacing.
      }

      .col-3:before {
        right: 0;
      }
    // END: Make columns look equal height.

    // Real columns
    .col {
      background-color: transparent;
      float: left;
      margin-bottom: 0;
      margin-right: 18px;
      padding-top: 20px;
      width: $static_module_3_2_desktop_col_width - $static_module_3_2_col_padding_left - $static_module_3_2_col_padding_right;

      &.col-1 {
        margin-top: 0;
      }

      &.col-2 {
        width: $static_module_3_2_desktop_col_width - $static_module_3_2_col_padding_left - $static_module_3_2_col_padding_right - 1; // For equal 20px solumn spacing.
      }

      &.last {
        margin-right: 0;
      }
    }
  }
}
