//
// Template Custom Accordion.
//
// This template is not documented anywhere. It was created out of need for
// Civil Aviation Administration but could be used anywhere in the VAP.
// It's a component that also needs some js.
//


@if $layout == editor or
    $layout == global {
  .template-custom-accordion {

  }

  .ui-accordion {
    font-family: inherit;
    font-size: inherit;
    margin: 40px 0;

    &:first-child {
      margin-top: 0;
    }

    .ui-accordion-header {
      background: none;
      border: 0;
      color: inherit;
      cursor: pointer;
      font-family: inherit;
      font-size: inherit;
      font-weight: bold;
      margin: 0;
      padding: 0 0 5px 0;
      text-shadow: none;

      &:after {
        background: url(../img/10-global/accordion-header-toggle-arrows.png);
        content: "";
        display: inline-block;
        height: 12px;
        margin-left: 5px;
        width: 14px;
      }

      .ui-accordion-header-icon {
        display: none;
      }
    }

    .ui-accordion-header-active:after {
      background-position: 0 100%;
    }

    .ui-accordion-content {
      padding: 0;
      overflow: auto;
      border: 0;
      background: none;
      color: inherit;
    }
  }
}
